
body{
	margin:1%;
	padding:1%;
	font-size: 150%;
	background: #f1f1f1 url("../images/rock.jpg");
}


h1{
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	font-family: 'Indie Flower', cursive;
}
h2{
	font-family: 'Indie Flower', cursive;
}
.active{
	background:lightcoral;
    text-transform: uppercase;
	text-align: center;
	border: 2px solid black;
}

.active a{
	text-decoration: underline;
}
.inuse{
	background:lightcoral;
    text-transform: uppercase;
	text-align: center;
	border: 2px solid black;
}
.inuse a{
	text-decoration: underline;
}
.inuse1{
	background:lightcoral;
    text-transform: uppercase;
	text-align: center;
	border: 2px solid black;
}
.inuse1 a{
	text-decoration: underline;

}
.active1{
	background:lightcoral;
    text-transform: uppercase;
	text-align: center;
	border: 2px solid black;
}
.active1 a{
	text-decoration: underline;
}

.inuse2{
	background:lightcoral;
    text-transform: uppercase;
	text-align: center;
	border: 2px solid black;
}
.inuse2 a{
	text-decoration: underline;
}


.container img{
    height: auto;
    width: 90%;
    border: 4px solid black;
    border-radius: 10px;
	margin:auto;
	display: block;

}
img:nth-child(3n+2){
	filter: drop-shadow(3px 5px 7px black);
    opacity: 90%;
    position: relative;
    left: 85px;
    top: 2px;
}
img:hover{
	filter: saturate(2.2);
	border:dashed lightcoral;
}


h2{
	font-size: 2em;
	font-weight: bold;
}


p, h1, h2 {
    padding: 10px;
}

div p{
	border: 1px solid black;
	text-align: left !important;

}

header, nav, main, h1, footer{
	border: 2px solid grey;
	margin: 10px 0;
}
.container{
	display: grid;
	grid-template-columns: 1fr;
	width: 95%;
	margin: auto;
	gap: 15px;
	justify-content: space-between;
}
div{
	width:100%;
	overflow: hidden;
}

div p {
	overflow: scroll;
}
#wrapper{
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	justify-content: center;
}

#wrapper img{
	height: auto;
    width: 90%;
    border: 4px solid black;
    border-radius: 10px;
	margin:auto;
	display: block;
}

nav li{
	background-color: #beb8b8;
	padding:10px;
	border:1px solid black;
	display: inline-block;
	overflow: hidden;
	width: 40%;
}

nav ul{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}


a:visited{color: black}

#food{
	animation: almymove 5s ease;

}
@keyframes almymove {
	from {width: 25px; opacity: 0;}
	to {width: 360px; opacity: 1;}
  }
  @media (prefers-reduced-motion: reduce) {
	#food {
	  animation: none;
	}
  }
/*contact form below*/
input, textarea {
	padding: 10px;
	border: 1px solid #E5E5E5;
	width: 200px;
	color: black;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;		
	max-width:400px;
}
legend{ 
	font-size: 125%;
	font-style:italic;
	text-align: left;
	margin-right: 90px;
    margin-left: 10px;
  }
textarea {
	height: 150px;
	max-width: 400px;
	line-height: 18px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	border-color: #C9C9C9;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;	
}

.form label {
	margin-left: 10px;
	color: black;
}

/* ===========================
   ====== Submit Button ====== 
   =========================== */

.submit input {
	width: 100px; 
	height: 40px;
	background-color: lightcoral; 
	color: black;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;		
}

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (min-width: 770px) {
	form{
	  width: 80%;
	  margin: 0 auto;
	}
  
	input{
	  width:80%;
	}
  
	textarea{
	  width:80%;
	  height: 25vh;
   }
   
   div + label{
	  line-height: 25vh;
	  vertical-align:top;
   }
  }  


.skip{
	left: -999px;
	position: absolute;
}
.skip:focus {
left:10px;
}




  svg {
	width: 256px;
	height: 256px;
  }
  
  /* SMOKE */
  #smoke-1 {
	stroke-dasharray: 0, 10;
	animation: smoke 6s ease infinite;
  }
  
  #smoke-2 {
	stroke-dasharray: 0, 10;
	animation: smoke 6s 0.5s ease infinite;
  }
  
  @keyframes smoke {
	0% { stroke-dasharray: 0, 10; }
	50% { stroke-dasharray: 10, 0; }
	100% { stroke-dasharray: 10, 0; opacity: 0; }
  }
  
  /* WRITING */
  #line-1 {
	opacity: 0;
	animation: writing 0.5s linear forwards;
  }
  
  #line-2 {
	opacity: 0;
	animation: writing 0.5s 1s linear forwards;
  }
  
  #line-3 {
	opacity: 0;
	animation: writing 0.5s 1.5s linear forwards;
  }
  
  #line-4 {
	opacity: 0;
	animation: writing 0.5s 2s linear forwards;
  }
  
  @keyframes writing {
	0% { width: 0px; opacity: 1;}
	100% { width: 14px; opacity: 1;}
  }
