/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	margin:1%;
	padding:1%;
	font-size: 150%;
	background: #f1f1f1 url("../images/rock.jpg");
	
}

/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	font-family: 'Indie Flower', cursive;
}
h2{
	font-family: 'Indie Flower', cursive;
}
.active{
	background:lightcoral;
    text-transform: uppercase;
	text-align: center;
	border: 2px solid black;
}

.active a{
	text-decoration: underline;
	font-family: fantasy;
}
.inuse{
	background:lightcoral;
    text-transform: uppercase;
	text-align: center;
	border: 2px solid black;
}
.inuse a{
	text-decoration: underline;
	font-family: fantasy;
}
.inuse1{
	background:lightcoral;
    text-transform: uppercase;
	text-align: center;
	border: 2px solid black;
}
.inuse1 a{
	text-decoration: underline;
	font-family: fantasy;
}
.active1{
	background:lightcoral;
    text-transform: uppercase;
	text-align: center;
	border: 2px solid black;
}
.active1 a{
	text-decoration: underline;
	font-family: fantasy;
}

.inuse2{
	background:lightcoral;
    text-transform: uppercase;
	text-align: center;
	border: 2px solid black;
}
.inuse2 a{
	text-decoration: underline;
	font-family: fantasy;
}
/*Style the images*/

img{
    height: auto;
    width: 200px;
    border: 4px solid black;
    padding: 25px;
    border-radius: 10px;
    margin: 10px;

}
img:nth-child(3n+2){
	filter: drop-shadow(3px 5px 7px black);
    opacity: 90%;
    position: relative;
    left: 85px;
    top: 2px;
}
img:hover{
	filter: saturate(2.2);
	border:dashed lightcoral;
}

/*Make the h2 heading match h1*/
h2{
	font-size: 2em;
	font-weight: bold;
}


p, h1, h2 {
    padding: 10px;
}

div p{
	border: 1px solid black;
	text-align: left !important;
}

header, nav, main, h1, footer{
	border: 2px solid grey;
	margin: 10px 0;
}
.container{
	display: grid;
	grid-template-columns: 300px 300px;
	width: 80%;
	margin: auto;
	justify-content: space-between;
}

#wrapper{
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	justify-content: center;
}
/*Change the styling for all of the list
items in the nav section*/
nav li{
	background-color: #beb8b8;
	padding:10px;
	width:25%;
	border:1px solid black;
	display: inline-block;
	width: 20%;
}

/**figure figcaption {
    border: 1px solid black;
	text-align: left; !important
}**/

/*Added this so the links stay the same color*/
a:visited{color: black}

/*contact form below*/
body {
	font-family: Arial, Helvetica, sans-serif;
  }
  
  form {
	border: 3px solid #f1f1f1;
  }
legend{ 
	font-size: 125%;
	font-style:italic;
	text-transform: uppercase;
	text-align: center;
  }
label{
  display: inline-block;
  margin-right:10px;
  width:15%;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

textarea{
	width: 100%;
	height: 35vh;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
  }
  span{
	margin-left:20%;
	font-family: italic;
	font-weight: bold;
  }
  input[type=submit] {
	background-color: #38803C;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
  }
  
  input[type=submit]:hover {
	opacity: 0.8;
  }
  
  
  
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (min-width: 770px) {
	form{
	  width: 80%;
	  margin: 0 auto;
	}
  
	input{
	  width:80%;
	}
  
	textarea{
	  width:80%;
	  height: 25vh;
   }
   
   div + label{
	  line-height: 25vh;
	  vertical-align:top;
   }
  }  
